body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #33001b, #ff0084);
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: neonGlow 1s infinite alternate;
    max-width: 90%;
    text-align: center;
}

@keyframes neonGlow {
    from {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
    to {
        box-shadow: 0px 0px 20px #e61380,
        0px 0px 30px #c31c78,
        0px 0px 40px #ff0084;
    }
}

h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

textarea {
    width: 500px;
    height: 350px;
    margin: 10px auto;
    display: block;
    font-size: 24px;
    padding: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: none;
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    padding: 15px 30px;
    background-color: #3cb340;
    width: 500px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5e4c5b65;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: azure;
    font-weight: bold;
    animation: neonGlow 1s infinite alternate;
}

/* Responsive Design */

/* For tablets and smaller screens */
@media (max-width: 768px) {
    textarea {
        width: 80%;
        font-size: 20px;
        height: 100px;
    }

    h1 {
        font-size: 24px;
    }
}
@media (max-width: 768px) {
     button {
        width: 80%;
        font-size: 20px;
        height: 70px;
    }

    h1 {
        font-size: 24px;
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    textarea {
        width: 100%;
        font-size: 20px;
        height: 100px;
        padding: 1px;
    }
}
@media (max-width: 480px) {
         button {
        width: 100%;
        font-size: 18px;
        height: 50px;
        padding: 0px;
    }
}

    h1 {
        font-size: 20px;
    }

    .container {
        padding: 15px;
    }

